system/system/app/OtaProvision/OtaProvision.apk
system/system/app/VoiceAssist/VoiceAssist.apk
system/system/system_ext/priv-app/Settings/Settings.apk
system/system/system_ext/apex/com.android.vndk.v30.apex
system/system/data-app/SmartHome/SmartHome.apk
system/system/data-app/MIUIMusicStableUninstall/MIUIMusicStableUninstall.apk
system/system/data-app/MIUIYoupin/MIUIYoupin.apk
system/system/data-app/MIMediaEditor/MIMediaEditor.apk
system/system/data-app/MiuiHealth/MiuiHealth.apk
system/system/data-app/MIShop/MIShop.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/priv-app/MiBrowser/MiBrowser.apk
system/system/priv-app/MiExtraPhotoAutoCrop/MiExtraPhotoAutoCrop.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/app/MIUIHybridPlatform/MIUIHybridPlatform.apk
product/priv-app/GmsCore/GmsCore.apk
boot.img
